* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

input:focus{
    outline: inherit;
}
select:focus{
    outline: inherit;
}
img{
    user-select: none;
}

body{
    background-color: #F6F7FB;
    overflow-x: hidden;
}
button{
    background-color: transparent;
    border: 0;
    outline: 0;
}