@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


h1 {
    font-family: 'Poppins', sans-serif;
    font-size: clamp(2rem, 2.8vw, 2.5rem);
    /* 32px → 40px */
    font-weight: 700;
    color: var(--text-primary);
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: clamp(1.75rem, 2.2vw, 2rem);
    /* 28px → 32px */
    font-weight: 600;
    color: var(--text-primary);
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: clamp(1.5rem, 1.8vw, 1.75rem);
    /* 24px → 28px */
    font-weight: 600;
    color: var(--text-primary);
}

.title {
    font-family: 'Poppins', sans-serif;
    font-size: clamp(1.125rem, 1.4vw, 1.25rem);
    /* 18px → 20px */
    font-weight: 600;
    color: var(--text-primary);
}

.subtitle {
    font-family: 'Poppins', sans-serif;
    font-size: clamp(1rem, 1.2vw, 1.125rem);
    /* 16px → 18px */
    font-weight: 500;
    color: var(--text-primary);
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--text-primary);
}

.body-small {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--text-primary);
}

.caption {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: var(--text-primary);
}

.blue {
    color: var(--blue);
}

.yellow {
    color: var(--yellow);
}

.green {
    color: var(--green);
}

.purple {
    color: var(--purple);
}

.white {
    color: var(--text-white);
}

input {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--text-primary)
}

input::placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--text-secondary)
}

select {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--text-primary);
    background: transparent;
    border: 0;
    outline: none;
    appearance: none;
    cursor: pointer;
}

select:invalid {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--text-secondary)
}

input:invalid{
    color: var(--text-secondary);
}

.line {
    width: 100px;
    height: 2px;
}

.line-between {
    display: flex;
    align-items: center;
    user-select: none;

    p {
        color: var(--gray-500);
        margin: 0px 5px;
    }

    .line {
        background-color: var(--gray-300);
        width: 100%;
        height: 1px;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 28px;
        line-height: 36px;
    }

    h2 {
        font-size: 24px;
        line-height: 32px;
    }

    h3 {
        font-size: 20px;
        line-height: 28px;
    }

    .title {
        font-size: 18px;
        line-height: 26px;
    }
}