class-card {
    .class {
        display: flex;
        align-items: center;
        flex-flow: column;
        gap: 25px;
        border-radius: 15px;
        background-color: var(--text-white);
        overflow: hidden;

        .top {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0px 5px;
            gap: 5px;
            width: 100%;

            h3 {
                color: var(--text-white);
            }

            svg {
                height: 15px;
                aspect-ratio: 1/1;
            }
        }

        .data {
            display: flex;
            flex-flow: column;

            padding: 10px 20px;
            gap: 10px;
            width: 100%;

            >div {
                display: flex;
                margin: auto;
                gap: 10px;

                p {
                    font-size: 20px;
                }

                svg {
                    stroke-width: 8px;
                }
            }

            svg {
                width: 24px;
                height: 24px;
            }
        }

        .join {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            width: 100%;

            p {
                color: var(--text-white);
            }

            button {
                width: 100%;
                background-color: transparent;
                outline: none;
                border: 0;
                cursor: pointer;
                transition: 0.3s;

                &:hover {
                    background-color: var(--card-color);
                }
            }

        }
    }
}
