.field {
  display: flex;
  align-items: stretch;
  width: 100%;
  height: 100%;
  border: solid 1px #D9DCE8;
  border-radius: 5px;
  transition: outline 0.2s, border-color 0.2s;

  &:focus-within {
    outline: 2px solid var(--purple-dark);
    border-color: transparent;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: var(--purple-light);

    svg {
      width: 20px;
      aspect-ratio: 1 / 1;
      color: var(--purple-dark);
    }
  }

  .text {
    display: flex;
    align-items: center;
    flex: 1;
    width: 100%;
    padding-right: 10px;

    input {
      width: 100%;
      padding: 10px 5px;
      border: 0;
      outline: none;

      &:focus {
        outline: none;
      }
    }

    select {
      width: 100%;
      padding: 10px 5px;
      border: 0;
      background: transparent;
      font-size: inherit;
      appearance: none;
      cursor: pointer;
      font-family: 'Poppins', sans-serif;
    }

    select:invalid {
      color: var(--text-disabled);
    }

    label {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      svg {
        width: 20px;
        aspect-ratio: 1 / 1;
        display: block;
        color: var(--purple-dark);
      }
    }
  }
}

